{% extends "base.html" %}
{% load nav %}
{% block siteSection %}Add Group Flight{% endblock %}

	{% block headExtras %}
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.min.css" ></link>
	{% endblock %}
		
		
   {% block nav %}
    {% nav "planner2_addGroupFlight" %}
    {{ block.super }}
{% endblock %}

{% block sitemenu-content-secondary %}
    {% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}
						
{% block contents %}
   <h3>Create Flight</h3>
  <form action="{% url 'planner2_addGroupFlight' %}" method="post">
	<table>
		<tr>
			<td align="right"><label for="id_date">Date:</label></td>
			<td>{{ groupFlightForm.date }}</td>
		</tr>
		<tr>
			<td align="right"><label for="id_prefix">Prefix:</label></td>
			<td>{{ groupFlightForm.prefix }}</td>
		</tr>
    	<tr>
			<td align="right" valign="top">Vehicles:</td>
			<td>{{ groupFlightForm.vehicles }}</td>
		</tr>
		<tr><td></td><td>Optional:</td>
		</tr>
		<tr>
			<td align="right"><label for="id_notes">Notes:</label></td>
			<td>{{ groupFlightForm.notes }}</td>
		</tr>
		<tr>
			<td align="right"></td>
			<td><input type="submit" value="Create" /></td>
		</tr>
	</table>
	<h3>Existing Flights</h3>
	{% for group in groupFlights %}
	<li>{{ group.name }}</li>
	{% endfor %}
  	 
</p>	
</form>

{% endblock %}

{% block scripts %}
   {{ block.super }}
   		<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js"></script>
		
		<script>
		$(function() {
			$( "#id_date" ).datepicker();
			$( "#id_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
			$( "#id_date" ).datepicker("setDate",new Date({{ groupFlightForm.year }}, {{ groupFlightForm.month }},{{ groupFlightForm.day }}));
		});
		</script>
{% endblock %}
