{% extends "base.html" %}
{% load nav %}
{% block siteSection %}Add Group Flight{% endblock %}

	{% block headExtras %}
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.min.css" ></link>
	{% endblock %}
		
		
   {% block nav %}
    {% nav "planner2_addGroupFlight" %}
    {{ block.super }}
{% endblock %}

{% block sitemenu-content-secondary %}
    {% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}
						
{% block contents %}
  <form action="{% url 'planner2_addGroupFlight' %}" method="post">
  	<p>
		<label></label>
		<span class="h6">Create {{ settings.XGDS_PLANNER2_FLIGHT_MONIKER }}</span>
	</p>
  	{{groupFlightForm.as_p }}
  	<p>
			<label ></label>
			<input type="submit" value="Create" />
		</p>
</form>

{% endblock %}

{% block scripts %}
   {{ block.super }}
   		<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js"></script>
		
		<script>
		$(function() {
			$( "#id_date" ).datepicker();
			$( "#id_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
			$( "#id_date" ).datepicker("setDate",new Date({{ groupFlightForm.year }}, {{ groupFlightForm.month }},{{ groupFlightForm.day }}));
		});
		</script>
{% endblock %}
