<!doctype html>
{% load pipeline %}
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta charset="utf-8">
    <title>
    {% block title %}{% block siteSection %}{% endblock siteSection%} {% block siteTitle %}BASALT{% endblock siteTitle%}{% endblock title%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {% block cssMain %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'xgds_planner2/css/summary.css' %}">
    {% endblock cssMain %}
    
 	{% block cssExtras %}
    {% endblock cssExtras %}
  	{% block headExtras %}
  	{% endblock headExtras%}
  </head>
  <body>
  
  	<div id="planContent">
  	</div>
  
	<script src="{{ EXTERNAL_URL }}jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/dist/handlebars.min.js'></script>
	<script type="text/javascript" src='{{ EXTERNAL_URL }}sprintf-js/dist/sprintf.min.js'></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}moment/min/moment.min.js"></script>
	
	
	{% include "xgds_core/timeJS.html" %}
    <script type="text/javascript">
    	var runningTotalDuration = 0.0;
    	var runningTotalDistance = 0.0;
    	var printedDuration = function(seconds){
       		var duration = moment.duration(seconds, 'seconds');
	      	return sprintf('%02d:%02d:%02d', duration.hours(), duration.minutes(), duration.seconds());
    	};
    	
      var handlebar_url = "{% url 'handlebar_string' handlebar_path %}";
		var context = this;
		$.ajax({
  	    async: false,
  	    url: handlebar_url,
  	    success: function(handlebarSource, status){
  	    	var handlebarSource = handlebarSource;
  	    	Handlebars.registerHelper('totalDuration', function(seconds){
  	    		runningTotalDuration = runningTotalDuration + seconds;
  	    		return printedDuration(runningTotalDuration);
  	      	});
    	    Handlebars.registerHelper('totalDistance', function(distance){
    	    	runningTotalDistance = runningTotalDistance + distance;
  	      		return sprintf('%.02f',distance);
  	       	});
    	    Handlebars.registerHelper('wrapURL', function(str) {
    	        str = Handlebars.Utils.escapeExpression(str);
    	        // line breaks too
    	        str = str.replace(/(\r\n|\n|\r)/gm, '<br>'); 
    	        
    	        var matches = str.match(/http\S+/);
    	        if (matches != null){
	    	        var wrapped = matches.map(function(v, i, a) {
	    	        	v = v.replace(/<br>/gm, ''); 
	    	            return '<a target="_blank" href="' + v + '">' + v + '</a>';
	    	        });
	
	    	        for (var i = 0; i < matches.length; i++) {
	    	            str = str.replace(matches[i], wrapped[i]);
	    	        }
    	        }

    	        return new Handlebars.SafeString(str)
    	    });


  	      	Handlebars.registerHelper('prettyTime', function( sourceTime, timeZone ){
  	      		return getLocalTimeString(sourceTime, timeZone);
  	      	});
  	      	Handlebars.registerHelper('vsprintf', function( format, data ){
  	      		return vsprintf(format, data);
	      	});
  	      	Handlebars.registerHelper('sprintf', function( format, data ){
  	      		return sprintf(format, data);
	      	});
  	      	Handlebars.registerHelper('formatDuration', function(seconds){
  	      		return printedDuration(seconds);
  	       	});
  		  	var template = Handlebars.compile(handlebarSource);
  		  	var planJsonUrl = "{% url 'planner2_planExport_ajax' plan_uuid 'n.bdj' %}";
  		  $.ajax({
              url: planJsonUrl,
              dataType: 'json',
              success: $.proxy(function(data) {
            	  var filledTemplate = template({ 'plan':data,
								            	  'defaultTimeZone':'{{TIME_ZONE}}',
								            	  'plan_moniker': '{{settings.XGDS_PLANNER2_PLAN_MONIKER}}'});
            	  $("#planContent").append(filledTemplate);
            	  $("#plan_duration_value").append(printedDuration(runningTotalDuration));
            	  $("#plan_distance_value").append(sprintf('%0.2f m', runningTotalDistance));
              }, this),
              error: $.proxy(function(data){
                  console.log(data);
              }, this)
            });
  	    }
  	});
      
    </script>
    
  
  </body>