{% extends "base.html" %}
{% load url from future %}
{% load nav %}
{% load tz_convert %}

{% block siteSection %} Manage Flight {% endblock %}

{% block nav %}
    {% nav "planner2.manageFlight" %}
    {{ block.super }}
{% endblock %}

{% block cssExtras %}
{{ block.super }}
<style type="text/css" title="currentStyle">
	@import "{{ STATIC_URL }}external/css/jquery/jquery-ui.css";
</style>
{% endblock cssExtras %}

{% block sitemenu-content-secondary %}
    {% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block contents %}
	{% if errorString %}
	<span class="error">{{ errorString }}</span>
	{% endif %}
	<form name='TodayForm' id="todayForm" action="{% url 'planner2_updateToday' %}" method="post">
	<input type="checkbox" name="today" id="id_today" {% if request.session.today %} checked="checked" {%endif %} style="margin-bottom:3px;">Today Only</input>
	</form>
	<a class="mybutton" href="{% url 'planner2_addGroupFlight' %}" style="float:right;margin-bottom:3px;">Create Flights</a>
	<a class="mybutton" href="{% url 'planner2_manageFlightHelp' %}" style="float:right;margin-bottom:3px;" target="help">Help</a>
	<br/>
	
	<table id="dataTable" class="planIndex">
	<thead class="table_header">
		<tr>
		<th>Name</th>
		<th>Planned</th>
		<th>Started</th>
		<th>Ended</th>
		<th></th>
		</tr>
	</thead>
	{% for flight in flights %}
	<tr {% if not flight.end_time and flight.start_time %} style="background:lightgreen;" {% endif %}>
		<td >Flight: {{ flight.name }}</td>
		<td></td>
		<td>{% if flight.start_time %} {{flight.start_time|utc_to_django|date:"Y-m-d H:i"}} {% else %} <a href="{% url 'planner2_startFlight' flight.uuid %}">Start</a>{% endif %}</td>
		<td>{% if flight.end_time %} {{flight.end_time|utc_to_django|date:"Y-m-d H:i"}} {% elif flight.start_time %} <a href="{% url 'planner2_stopFlight' flight.uuid %}">Stop</a>{% endif %}</td>
		<td></td>
	</tr>
	{% for pe in flight.plans.all %}
	{% with pe.plan.escapedName|add:".pml" as filename %} 
	<tr {% if not pe.end_time and pe.start_time %} style="background:lightgreen;" {% endif %}>
		<td>&nbsp;&nbsp;<a href="{% url 'planner2_edit' pe.plan.id %}">{{ pe.plan.escapedName }}</a></td>
		<td>{% if pe.planned_start_time %}{{ pe.planned_start_time|utc_to_django|date:"Y-m-d H:i"}} <a href="{% url 'planner2_planExportTime' pe.plan.uuid filename pe.planned_start_time|date:'Y-m-d-H-i' %}">PML</a>{% endif %}</td>
		<td>{% if pe.start_time %} {{pe.start_time|utc_to_django|date:"Y-m-d H:i"}} <a href="{% url 'planner2_planExportTime' pe.plan.uuid filename pe.start_time|date:'Y-m-d-H-i' %}">PML</a>{% else %} <a href="{% url 'planner2_startPlan' pe.id %}">Start</a>  {% endif %}</td>
		<td>{% if pe.end_time %} {{pe.end_time|utc_to_django|date:"Y-m-d H:i"}}{% elif pe.start_time %} <a href="{% url 'planner2_stopPlan' pe.id %}">Stop</a> {% endif %}</td>
		<td>{% if not pe.start_time %}<a href="{% url 'planner2_deletePlanExecution' pe.id %}">Delete</a>{% endif %}</td>
	</tr> 
	{% endwith %}
	{% endfor %}
	{% endfor %}
	</table>

{% endblock contents %}

{% block scripts %}
  {{ block.super }}
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery-ui.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery.dataTables.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}external/js/jquery/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
var calcDataTableHeight = function() {
    var h = Math.floor($(window).height()*65/100);
    return h + 'px';
};

var defaultOptions = {
		bAutoWidth: true,
		bPaginate: true,
        iDisplayLength: -1, 
        bLengthChange: true,
		bSort: false,
        bJQueryUI: false,
        sScrollY:  calcDataTableHeight(), /* '28em', */
        "lengthMenu": [[10, 20, 40, -1], [10, 20, 40, "All"]],
        "oLanguage": {
            "sLengthMenu": "Display _MENU_ flights & plans"
          }
}

/*$.post('{# url planner2_updateToday #}', function(data) {
    alert(data);
}); */

$('#id_today').change(function(e){
    var ischecked = $('#id_today').is(":checked");
    $.ajax({
        type: "POST",
        url: "{% url 'planner2_updateToday' %}",
        data: { today: ischecked}
    }).done(function (response) {
        location.reload(true);
    })
});


$(document).ready( function () {
	var pTable = $('#dataTable').dataTable( defaultOptions);
	$(window).resize(function(){ 
		$('div.dataTables_scrollBody').css('height',calcDataTableHeight());
		pTable.fnAdjustColumnSizing();
	});
} );
 </script>
{% endblock scripts %}