{% extends "base.html" %}

{% block siteSection %}Planner Help{% endblock siteSection %}

{% block sitemenu-content-secondary %}
{% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block content %}
{{ block.super }}

<h3>Planner Platform Requirements</h3>

<ul>
  <li> <b>Browser: Google Chrome</b>. <p><a href="https://www.google.com/intl/en/chrome/browser/">Download Google Chrome</a>. The planner is known to work in Chrome. It might work in other browsers, but if you run into problems we will ask you to switch to Chrome. (Sorry! With a small developer team it's difficult to support multiple browsers.)</p></li>
  <li> <b>Browser version: Latest</b>. <p>Google Chrome is designed to update frequently. To check that you are running the latest version, type <tt>about:help</tt> in the URL bar. If it isn't up to date, please click the update button (on the same page) and restart your browser.</p></li>
  <li> <b>Google Earth Plugin: Version 7 or greater.</b>
       <p><ul>
         <li> Visit <a href="http://www.google.com/intl/en/earth/explore/products/plugin.html">the version detector page</a> and read the version of Google Earth Plugin in the yellow bar underneath the embedded viewer. (The version number will not appear until the page finishes loading, which may take a moment.)</li>
         <li> If you have an version older than 7, you must uninstall it in order to install a newer version.
              <ul>
                <li>Windows: Select Start &gt; Programs (or All Programs) &gt; Google Earth &gt; Uninstall Google Earth Plug-in, then restart your browser.</li>
                <li>Mac: Delete <tt>/Library/Internet Plug-ins/Google Earth Web Plug-in.plugin</tt>, then restart your browser.</li>
              </ul>
         </li>
         <li> To install the latest version, visit the <a href="http://www.google.com/intl/en/earth/explore/products/plugin.html">the version detector page</a> again and it will guide you through installation.</li>
       </ul></p>
  </li>
  <li> <b>JavaScript: Enabled</b>. <p>Most modern web pages require JavaScript, and you probably have JavaScript enabled already. <a href="http://activatejavascript.org/en/instructions/chrome">This page detects if JavaScript is enabled in Chrome and provides instructions on how to enable it.</a></p></li>
</ul>

<h3>Tutorial Video</h3>

<video src="{{ settings.DATA_URL }}xgds_planner2/help_video_short.webm" controls style="width:854px;height:480px"></video>
{% endblock %}
