{% extends "base.html" %}

{% block cssExtras %}
{{ block.super }}

<style type="text/css">
</style>

{% endblock cssExtras %}

{% block siteSection %}Create Plan{% endblock siteSection %}

{% block sitemenu-content-secondary %}
{% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block content %}
{{ block.super }}

<h2>Create Plan</h2>

<form action="." method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit"/>
</form>

{% endblock content %}
