{% extends "base.html" %}

{% load url from future %}

{% block cssExtras %}
{{ block.super }}

<style type="text/css">
table.planIndex td, th {
    text-align: left;
}

table.planIndex td.exportFormat a {
    padding-right: 10px;
}

table.planIndex .right {
    text-align: right;
}

table.planIndex td {
    vertical-align: top;
    padding-right: 10px;
}

table.planIndex td.name {
    font-weight: bold;
    padding-right: 20px;
}

table.planIndex td.stats {
    color: #444;
    font-style: italic;
}
</style>

{% endblock cssExtras %}

{% block siteSection %}Planner Index{% endblock siteSection %}

{% block sitemenu-content-secondary %}
{% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block content %}
{{ block.super }}

<!-- This functionality is now in the subnav 
<a href="{% url 'planner2_planCreate' %}" class="mybutton">Create Plan</a>
-->

<table class="planIndex">
  <tr>
    <th>Name</th>
    <th>Export</th>
    <th class="right">Dist</th>
    <th class="right">#Stn</th>
    <th class="right">#Cmd</th>
    <th>#Cmd by type</th>
    <th class="right">Detail Doc</th>
  </tr>
{% for plan in plans %}
  <tr>
    <td class="name"><a href="{% url 'planner2_edit' plan.id %}">{{ plan.name }}</a></td>
    <td class="exportFormat">
      {% for exporter in plan.getExporters %}
        <a href="{{ exporter.url }}">
          {{ exporter.label }}
        </a>
      {% endfor %}
    </td>
    <td class="stats right">{{ plan.lengthMeters|floatformat }}</td>
    <td class="stats right">{{ plan.numStations }}</td>
    <td class="stats right">{{ plan.numCommands }}</td>
    <td class="stats">{{ plan.getSummaryOfCommandsByType|safe }}</td>
    <td><a href="{% url 'planner2_doc' plan.id %}">Detail Doc</a></td>
  </tr>
{% endfor %}
</table>

{% endblock content %}
