{% extends "base.html" %}

{% block siteSection %}Planner Help{% endblock siteSection %}

{% block sitemenu-content-secondary %}
{% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Planner Help</h2>

<p>The XGDS Planner has specific requirements for end-users in order to function properly.</p>

<p>The planner is known to work in <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>. Make sure you're on the latest version by typing "about:help" in the URL bar.</p>

<p>Most of the functionality in the planner is dependent on Javascript. Javascript must be enabled in order for the planner to work properly.</p>

<p>The <a href="http://www.google.com/earth/explore/products/plugin.html">Google Earth Plugin</a> is required to edit plans in any significant way. If you have an old version of the plugin and the planner doesn't work, you may need to uninstall it manually and re-install it to make it work.</p>

<p>Here is a video demonstrating the planner and its capabilities:</p>
<video src="{{ settings.DATA_URL }}xgds_planner2/help_video_short.webm" controls style="width:854px;height:480px"></video>
{% endblock %}
