{% extends "base.html" %}
{% load compressed %}

{% block sitemenu-content-secondary %}
{% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block siteSection %}Edit {{ plan_name }}{% endblock %}
{% block content %}
<style scoped>
  {% compressed_css 'planner_app' %}
</style>

<div id="application" class="container-fluid">
    <div id="toolbar" class="row btn-toolbar">
    </div>

    <div class="row-fluid">
        <div id="map" class="span5"></div>
        <div id="tabs" class="span7"></div>
    </div>
    
    <div id="saveAsDialog" style="display:none">
		<p>Enter a new name and/or version to save as.  (Version already changed.)</p>
		<table>
		<tr>
			<td>Name</td>
			<td><input type="text" id="saveAsName"></td>
		</tr>
		<tr>
			<td>Version</td>
			<td><input type="text" id="saveAsVersion"></td>
		</tr>
		<tr>
			<td>Notes</td>
			<td><input type="text" id="saveAsNotes"></td>
		</tr>
		<tr></tr>
		</table>
	</div>
    
</div>
{% endblock content %}


{% block scripts %}
    {% if not settings.XGDS_PLANNER_OFFLINE %}<script type="text/javascript" src="https://www.google.com/jsapi"></script>{% endif %}
    {% compressed_js 'planner_app' %}
    {% compressed_js 'simulator' %}
    <!-- 
    <script type="text/javascript" src="{{ planner_appUrl }}"></script>
    <script type="text/javascript" src="{{ simulatorUrl}}"></script>
    -->
    {% for template_name, template in templates.items %}
<script type="text/handlebars" id="template-{{template_name}}">
{{template|safe}}
</script>
    {% endfor %}
    <script id="plan_schema_json" type="application/json">{{ plan_schema_json|safe }}</script>
    <script id="plan_library_json" type="application/json">{{ plan_library_json|safe }}</script>
    <script id="plan_index_json" type="application/json">{{ plan_index_json|safe }}</script>
    <script id="plan_links_json" type="application/json">{{ plan_links_json|safe }}</script>
    {% if plan_json %}<script id="plan_json" type="application/json">{{ plan_json|safe }}</script>{% endif %}
{% endblock scripts %}

{% block jsInit %}

    plannerAppOptions = {
        offline: {{ settings.XGDS_PLANNER_OFFLINE|yesno:"true,false" }},
        planLineWidthPixels: {{ settings.XGDS_PLANNER_LINE_WIDTH_PIXELS|default:"2" }},
        layerFeedUrl: "{{ settings.XGDS_PLANNER_LAYER_FEED_URL }}",
        dataUrl: "{{ settings.DATA_URL }}",
        simulator: {{ simulator }},
        directionalStations: {{ settings.XGDS_PLANNER_DIRECTIONAL_STATIONS|yesno:"true,false" }},
        mapRotationHandles: {{ settings.XGDS_PLANNER_MAP_ROTATION_HANDLES|yesno:"true,false" }},
        placemarkCircleUrl: "{{ placemark_circle_url }}",
        placemarkCircleHighlightedUrl: "{{ placemark_circle_highlighted_url }}",
        placemarkDirectionalUrl: "{{ placemark_directional_url }}",
        XGDS_PLANNER_EARTH_LOADED_CALLBACK: {{ settings.XGDS_PLANNER_EARTH_LOADED_CALLBACK }},
        commandRenderers: {{ settings.XGDS_PLANNER_COMMAND_RENDERERS|safe }},
        readOnly: {{ editable|yesno:"false,true" }}
    };
$(function(){
    app.start(plannerAppOptions);
})
{% endblock jsInit %}
