input[type="checkbox"].select {
    vertical-align: top;
}


.tab-content {
	min-height: 400px;
	height: 100%;
} 

.nav-tabs li:hover{
    cursor: pointer;
}

div[id^="col"] > li:hover {
    cursor: pointer;
}



[class*="-sequence-item"] {
    list-style-type: none;
    border-style: none;
    border-width: 1px;
    margin-right: 0px;
    margin-left: 0;
    //background-color: #aaaaaa;
}

[class*="-sequence-item"]:hover{
    cursor: pointer;
}

.station-sequence-item {
    background-color: #cccccc;
}

.segment-sequence-item {
    background-color: #ffffff;
}

.head-sequence-item {
	font-weight: bold;
    //background-color: #cccccc;
}

.foot-sequence-item {
	font-weight: bold;
    //background-color: #cccccc;
}

.scrolling_column {
    border-style: solid;
    border-color: #cbcacc; //#005c8e;
    border-width: 1px;
    padding: 5px;
    margin: 0px;
    overflow-y: scroll;
    max-height: 450px;
}

.scrolling_column ul {
	-webkit-padding-start: 0px;
	-webkit-padding-before: 3px;
}

.scrolling_column li {
	padding-top: 3px;
	padding-bottom: 3px;
}

.scrolling_column div.row {
	margin: 0px;
}

.scrolling_column div {
	margin-bottom: 3px;
}

.scrolling_column div.form-check {
	margin-left: 5px;
	width: 100%;
}

.scrolling_column form input {
	max-width: 100% !important;
}

.scrolling_column input.form-check-input {
	position:absolute !important;
}

#colhead1, #colhead2, #colhead3 {
	padding-left: 5px;
}

#col1, #col2 {
	//margin-right: 5px;
}

/* #col1 ul, #col2 ul, #col3  ul {
    margin: 0px;
    margin-left: 2px;
} */

span.duration {
    font-weight: bold;
    font-style: italic;
    float: right;
    padding-right: 8px;
}

span.entry-title {
    vertical-align: middle;
}

.tool-input {
    margin: 0px;
}

/* just the top .tool-input section isn't
   specific enough to override bootstrap */
.tool-input[type="checkbox"] {
    margin-top: 0px;
}


/* div.tool-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}*/

/* div.tool-entry {
    padding: 8px;
} */

span#select-title {
    display: block;
    margin-bottom: 5px;
}

span.entry-error {
    font-weight: bold;
    color: red;
}

/* having this here tunes the navigation from main.css to work with bootstrap.css */
#sitemenu-content ul { /* general settings */
	text-align: left; /* set to left, right or center */
	margin: 11px 0px 0px 0px !important; /* set margins as desired */
	border-bottom: 1px solid black; /*#18456b;  set border COLOR as desired */
	list-style-type: none;
	padding: 3px 10px 2px 10px !important; /*THIRD number must change with respect to padding-top (X) below */
} 

#sitemenu-content img {
	height:1px !important;
}

.ui-dialog-titlebar {
    display:none;
    background: gray !important;
}

.saveAs .div{
	background: white !important;
}

.ui-dialog {
	background: white !important;
}

h4.kmltree-title {
	font-size: 1.25rem;
}

.plot-div {
	width: 100%;
	height: 100px; 
	line-height: 1.2em;
	background: white;
}

.masterSlider {
	margin-left: 5px;
	margin-right: 5px;
}

#control_row {
	margin-left: 5px;
}
/*__BEGIN_LICENSE__
/* Copyright (c) 2015, United States Government, as represented by the
/* Administrator of the National Aeronautics and Space Administration.
/* All rights reserved.
/*
/* The xGDS platform is licensed under the Apache License, Version 2.0
/* (the "License"); you may not use this file except in compliance with the License.
/* You may obtain a copy of the License at
/* http://www.apache.org/licenses/LICENSE-2.0.
/*
/* Unless required by applicable law or agreed to in writing, software distributed
/* under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
/* CONDITIONS OF ANY KIND, either express or implied. See the License for the
/* specific language governing permissions and limitations under the License.
/*__END_LICENSE__
