{% extends "base.html" %}
{% load compressed %}

{% block cssExtras %}
    {% compressed_css 'planner_app' %}
{% endblock cssExtras %}

{% block content %}
<div id="application" class="container-fluid">

    <div id="toolbar" class="row btn-toolbar">
    </div>

    <div class="row-fluid">
        <div id="map" class="span6"></div>
        <div id="tabs" class="span6"></div>
    </div>
    
</div>
{% endblock content %}

{% block scripts %}
    {% if not settings.XGDS_PLANNER_OFFLINE %}<script type="text/javascript" src="https://www.google.com/jsapi"></script>{% endif %}
    {% compressed_js 'planner_app' %}
    {% for template_name, template in templates.items %}
<script type="text/handlebars" id="template-{{template_name}}">
{{template|safe}}
</script>
    {% endfor %}
    <script id="plan_schema_json" type="application/json">{{ plan_schema_json|safe }}</script>
    <script id="plan_json" type="application/json">{{ plan_json|safe }}</script>
{% endblock scripts %}

{% block jsInit %}
$(function(){
    {% if settings.XGDS_PLANNER_OFFLINE %}window.offline = true;{% endif %}
    app.start();
})
{% endblock jsInit %}
