<ul>
{{#group presets "type"}}
  {{#each items}}
  <li data-tem-id="presetCode" class="preset-sequence-item" style="background-color: {{getColor type}}">{{presetCode}}</li>
  {{/each}}
{{/group}}
</ul>
