<ul>
{{#group presets "type"}}
  {{#each items}}
  <li data-tem-id="presetCode" data-preset-name="{{firstDefined name presetName}}" class="preset-sequence-item add-preset" style="background-color: {{getColor type}}">{{firstDefined name presetName}}</li>
  {{/each}}
{{/group}}
</ul>
