<ul>
{{#group presets "type"}}
  {{#each items}}
  <li data-tem-id="presetCode" data-preset-name="{{name}}" class="preset-sequence-item add-preset" style="background-color: {{getColor type}}">{{name}}</li>
  {{/each}}
{{/group}}
</ul>
