<div id="layertreeContainer">
	<i class="icon-arrows-ccw" alt="refresh" id="refreshTreeLink" onclick="javascript: app.vent.trigger('refreshTree');"></i>
 	<div id="layertree" data-source="ajax" class="sampletree"></div>
 </div>