<div id="layertreeContainer">
  	<button id="refreshTreeLink" class="btn btn-primary" onclick="javascript: app.vent.trigger('refreshTree');">Refresh</button>
  	<input name="searchTree" placeholder="Filter..." autocomplete="off">
    <button id="btnResetSearch" class="btn btn-primary">&times;</button>
    <span id="matches"></span><br/>
    <button id="btnTransparencyEditors" class="btn btn-primary" style="margin-top:5px;"  onclick="toggleTransparencySliders();">Transparency</button>
 	<div id="layertree" data-source="ajax" class="sampletree"></div>
 </div>