    <li class="edit-meta head-sequence-item">{{ itemMoniker}} Properties<i/></li>
    <li>
    <div class="row">
    	<button  id="btn-kill" class="btn btn-primary btn-sm">Delete {{ itemMoniker }}</button>
    </div>
    <div class="row">
       <div class="btn-group" role="group">
           <button  id="btn-cut" class="btn btn-primary btn-sm">Cut</button>
           <button  id="btn-copy" class="btn btn-primary btn-sm">Copy</button>
           <button  id="btn-paste" class="btn btn-primary btn-sm">Paste</button>
           <button  id="btn-delete" class="btn btn-primary btn-sm">Delete</button>
		</div>
	</div>
	</li>
