<div class="row">
    <div id="colhead1"></div>
    <div id="colhead2"></div>
    <div id="colheadr"></div>
</div>
<div class="row">
    <div id="col1" class="span2 scrolling_column"></div>
    <div id="col2" class="span4 scrolling_column"></div>
    <div id="col3" class="span6 scrolling_column"></div>
</div>
