<ul class="sequence-list">
    <li class="edit-meta head-sequence-item">Station Properties<i/></li>
    <div class="command-list"></div>
    <li class="add-commands foot-sequence-item">Add commands</i></li>
</ul>
