<!-- <div class="edit-meta head-sequence-item">{{type}} Properties <i/></div> -->
<ul class="sequence-list">
    <li class="edit-meta head-sequence-item">Station Properties</li>
    <div class="command-list"></div>
    <li class="add-commands foot-sequence-item">Add commands</li>
</ul>
<!-- <div class="add-item foot-sequence-item" data-item-type="{{type}}">Add Commands...</div> }} -->
