<ul class="sequence-list">
    <li class="edit-meta head-sequence-item">{{type}} Properties<i/></li>
    <ul class="command-list"></ul>
    <li class="add-commands foot-sequence-item">Add commands</i></li>
</ul>
