<ul class="sequence-list">
    <li class="edit-meta head-sequence-item">{{type}} Properties<i/></li>
    <li>
    <div class="row">
       <div class="pill">
           <button  id="btn-cut" class="pill-left small">Cut</button>
           <button  id="btn-copy" class="small">Copy</button>
           <button  id="btn-paste" class="small">Paste</button>
           <button  id="btn-delete" class="pill-right small">Delete</button>
		</div>
	</div>
	</li>
    <ul class="command-list"></ul>
    <li class="add-commands foot-sequence-item">Add commands</i></li>
</ul>
