<div class="row">
  <div id="colhead1" class="col-3"></div>
  <div id="colhead2" class="col-4"></div>
  <div id="colhead3" class="col-5"></div>
</div>
<div class="row">
  <div id="col1" class="col-3 scrolling_column"></div>
  <div id="col2" class="col-4 scrolling_column"></div>
  <div id="col3" class="col-5 scrolling_column"></div>
</div>
