    <li class="edit-meta head-sequence-item">{{ itemMoniker}} Properties<i/></li>
    <li>
    <div class="row">
    	<button  id="btn-kill" class="pretty default btn btn-primary">Delete {{ itemMoniker }}</button>
    </div>
    <div class="row">
       <div class="pill">
           <button  id="btn-cut" class="pill-left small">Cut</button>
           <button  id="btn-copy" class="small">Copy</button>
           <button  id="btn-paste" class="small">Paste</button>
           <button  id="btn-delete" class="pill-right small">Delete</button>
		</div>
	</div>
	</li>
