<div class="row">
  <div id="colhead1" class="span3"></div>
  <div id="colhead2" class="span4"></div>
  <div id="colhead3" class="span5"></div>
</div>
<div class="row">
  <div id="col1" class="span3 scrolling_column"></div>
  <div id="col2" class="span4 scrolling_column"></div>
  <div id="col3" class="span5 scrolling_column"></div>
</div>
