<ul id="tab-nav" class="tab-nav">
    <li class="active" data-target="meta"><a id="tab-nav-link">Meta</a></li>
    <li data-target="sequence"><a id="tab-nav-link">Sequence</a></li>
    <li data-target="layers"><a id="tab-nav-link">Layers</a></li>
    <li data-target="tools"><a id="tab-nav-link">Tools</a></li>
    <li data-target="links"><a id="tab-nav-link">Links</a></li>
</ul>

<div id="tab-content" class="row tab-content" style="margin-left: inherit;">
</div>
