
<section class="tabs border">
<ul id="tab-nav" class="tab-nav">
    <li class="active" data-target="meta"><a id="tab-nav-link" href="#">Meta</a></li>
    <li data-target="sequence"><a id="tab-nav-link" href="#">Sequence</a></li>
    <li data-target="layers"><a id="tab-nav-link" href="#">Layers</a></li>
    <li data-target="tools"><a id="tab-nav-link" href="#">Tools</a></li>
    <li data-target="links"><a id="tab-nav-link" href="#">Links</a></li>
</ul>

<div id="tab-content" class="tab-content active" >
</div>


