<ul id="tab-nav" class="row nav nav-tabs">
    <li class="active" data-target="meta"><a>Meta</a></li>
    <li data-target="sequence"><a>Sequence</a></li>
    <li data-target="layers"><a>Layers</a></li>
    <li data-target="tools"><a>Tools</a></li>
</ul>

<div id="tab-content" class="row tab-content">
</div>
