    <div id="map-buttons" data-toggle="buttons-radio" class="four columns">
        <div class="pill">
            <button class="pill-left radio checked" id="btn-navigate">Navigate</button>
            <button class="radio" id="btn-reposition" style="width:120px;">Edit Stations</button>
            <button class="radio pill-right" style="width:120px;" id="btn-addStations">Add Stations</button>
            <!-- <button  id="btn-add-targets">Add Targets</button> -->
        </div>
    </div>
    
    <div id="tab-buttons" class="eight columns">
    	<div class="row">
	        <div class="pill four columns">
	            <!-- <button  id="btn-cut" class="pill-left">Cut</button>
	            <button  id="btn-copy">Copy</button>
	            <button  id="btn-paste" class="pill-right">Paste</button>
	            <button  id="btn-delete" class="pill-left">Delete</button> -->
			</div>
			<div class="pill three columns">
		    	<!-- <button  id="btn-showWedges" data-toggle="button">Show Fovs</button> -->
	        </div>
	        <div class="pill five columns" >
	            <button  id="btn-undo" class="pill-left">Undo</button>
	            <button  id="btn-redo" >Redo</button>
	            <button  id="btn-saveas" >Save As</button>
	            <button  id="btn-save" class="pill-right">Save</button>
	        </div>
	     </div>
    </div>


<div class="row">
    <div class="four columns">
     <p style="float:left" class="notify" id="tip-status">&nbsp;</p>
    </div>
    <div class="eight columns">
    	<div class="row">
    	<div class="seven columns">
	    </div>
	    <div class="five columns">
	        <span class="notify" id="save-status"></span>
	    </div>
	    </div>
	</div>
</div>

